@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Serif&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Used on activity component */
  .home-cart {
    @apply bg-opacity-60 drop-shadow-lg md:bg-[#3F90FC] bg-white  rounded-lg flex flex-row justify-start items-center md:flex-col h-[120px] md:h-auto overflow-hidden;
  }
  .home-cart-img-div {
    @apply overflow-hidden rounded-l-lg md:rounded-l-none md:rounded-t-lg h-full md:h-auto;
  }
  .home-cart-img {
    @apply hover:opacity-80 md:scale-105 duration-500 md:hover:scale-110 h-full aspect-[1/1] md:aspect-auto object-fill;
  }
  .home-cart-text {
    @apply px-2 md:px-0 md:p-5 text-center md:text-[#ffffff] text-[#0c0c0c]  font-semibold font-Robo text-[14px] md:text-[18px];
  }

  /* end of activity designs */

  /* ********************************************** */

  /* used on Navbar component */
  .btn-design {
    @apply px-3 text-[24px];
  }
  .nav-item {
    @apply mb-0 py-2 px-3 font-semibold font-Robo text-[18px] flex  justify-start items-center border-b-2 border-white text-amber-800;
  }
}
.expandable {
  min-height: 0;
  color: white;
}
.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 600ms ease-in-out;
  /* transition-delay: 1000ms; */
}

.wrapper.open {
  grid-template-rows: 1fr;
}

/* end of header designs */
.flipper {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
